nav.header_about a {
  color: var(--white);
}

.abount_banner {
  background-image: url('/assets/about_banner.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.abount_banner::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.abount_banner_content {
  position: relative;
  z-index: 50;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.abount_banner_text {
  color: var(--white);
  text-align: center;
  margin-top: 15%;
  max-width: 980px;
}

.abount_banner_text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.abount_banner_text p {
  text-align: justify;
  font-size: 17px;
  line-height: 22px;
}