:root {
  --white: #fff;
  
  --gray-100: #D9D9D9;
  --gray-200: #F2F2F7;
  --gray-300: #F0F3FF;
  --gray-500: #757575;
  --gray-800: #2C2C2C;
  --gray-900: #1E1E1E;

  --dark-blue: #212E4C;

  --green-plant: #11B047;    
  --orange-fire: #FC6636;     
  --blue-water: #319AFF;       

  --yellow-electric: #FFD93D;  
  --brown-ground: #C2A060;     
  --gray-rock: #8B8B8B;       
  --purple-poison: #9B4DCA;    
  --pink-fairy: #F4A6C1;       

  --cyan-ice: #7ED6DF;        
  --red-fighting: #D63031;     
  --dark-ghost: #5A4A7A;       
  --black-dark: #2F2F2F;       

  --light-blue-flying: #74B9FF;
  --silver-steel: #B2BEC3;     
  --beige-normal: #DAD7CD;     
  --purple-psychic: #E056FD;   
  --green-bug: #A3CB38;        
  --blue-dragon: #3F37C9;        
}

.m_w_1440 {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid var(--gray-100);
  padding: 1rem 3%;
}

.header_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: 1rem;
  color: var(--gray-900);
  margin: 0 .5rem;
}

.input_section {
  width: 100%;
}

.input_section_content {
  width: 100%;
  max-width: 720px;
  background-color: var(--gray-200);
  padding: 18px;
  padding-left: 48px;
  border-radius: 28px;
  margin: 30px auto;
  position: relative;
}

.input_section_content input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

.input_section_content svg {
  position: absolute;
  right: 20px;
}

/* style Lista de pokemons */
.poke_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 40px auto;
}

.pokemon_card {
  width: 100%;
  max-width: 203px;
  padding: 10px;
  background-color: var(--gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.pokemon_card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px var(--gray-100);
  transition: all ease-in-out 0.4s;
}

.pokemon_card_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pokemon_card_label span {
  font-weight: bold;
}

.pokemon_card img {
  width: 100%;
  max-width: 145px;
  margin: 10px auto;
}

.pokemon_card h3 {
  font-size: 14px;
  color: var(--dark-blue);
}

/* Style botões paginação */
.pagination_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px 0;
}

.pagination_section button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.pagination_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.pagination_count_item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px ;
}

.pagination_count_item_active {
  content: "";
  background-color: var(--gray-800);
  color: var(--white);
  transition: all ease-in-out 0.3s;
}
